.App {
  width: 800px;
  margin: 0 auto;
}

.SpaceNews-Container {
  list-style: none;
  padding: 0;
}

.SpaceNews-Container p {
  margin: 0;
}

.SpaceNews-List {
  margin-bottom: 3rem;
}

.SpaceNews-List .header {
  margin-bottom: 1rem;
}

.SpaceNews-List .title,
.SpaceNews-List .summary {
  color: #444444;
}

.SpaceNews-List .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.SpaceNews-List .published {
  font-size: 0.875rem;
  color: #777777;
}
